.conteiner {
    width: 280px;
    height: 100wh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
}

@media(min-width: 768px) and (max-width: 1279px) {
    .conteiner {
        width: 580px;
    }
}

@media(min-width: 1280px) {
    .conteiner {
        width: 900px;
        flex-direction: row;
        align-items: flex-start;
    }
}