.conteiner {
  min-height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .conteiner {
    width: 600px;
    min-height: calc(100vh - 150px);
    padding: 30px 0;
  }
}

@media (min-width: 1280px) {
  .conteiner {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: initial;
    min-height: calc(100vh - 80px);
    padding: 50px 50px 0px 50px;
  }
}
