/* @font-face {
  font-family: 'GothamPro';
  src: url('fonts/gotham-pro-light.ttf') format('truetype'),
    url('fonts/gotham-pro-light.woff') format('woff'),
    url('fonts/gotham-pro-light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
} */
