.container {
  height: calc(100vh - 130px);
  background-image: url("../../assets/images/authPageMobile.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding-top: 170px;
}

.title {
  width: 244px;
  height: 47px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.9px;
  text-align: center;
  color: var(--black);
  margin: 0 auto;
  padding-bottom: 25px;
}

.btn {
  width: 240px;
  height: 35px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: 1.28px;
  text-align: center;
  color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 4px 6px 0 var(--black-15);
  background-color: var(--macaroni-and-cheese);
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
  transition: all 0.3s ease-out 0.1s;
}

.btn:hover {
  color: var(--macaroni-and-cheese);
  background-color: var(--white);
}

.regText {
    width: 91px;
    height: 13px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 2.04px;
    text-align: center;
    color: var(--blue-grey);
    text-decoration: none;
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    transition: color 0.3s ease-out 0.1s;
}

.regText:hover {
  color: var(--macaroni-and-cheese);
}

@media (min-width: 768px) {
  .container {
    background-image: url("../../assets/images/bg-auth@2x.jpg");
    background-size: 80%;
    padding-top: 150px;
  }

  .title {
    width: 487px;
    height: 85px;
    font-size: 36px;
    letter-spacing: 1.8px;
    padding-bottom: 50px;
  }

  .btn {
    font-size: 20px;
    height: 40px;
    margin-top: 50px;
  }

  .regText {
    font-size: 16px;
    padding-top: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    background-image: url("../../assets/images/bg-auth@3x.jpg");
    background-size: 80%;
    padding-top: 100px;
  }
}
