.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #e8e8e8;
  margin-top: 28px;
}

.text {
  font-size: 11px;
  color: var(--blue-grey);
  line-height: 30px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.91;
  letter-spacing: 0.88px;
  text-align: left;
}

.points {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--apple);
  font-size: 14px;
  color: var(--white);
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 0 6px;
}

@media (min-width: 768px) {
  .conteiner {
    margin-bottom: 20px;
    margin-top: 0;
    background-color: var(--white);
  }
}

@media (min-width: 1280px) {
  .conteiner {
    width: 400px;
    flex-direction: row;
  }
}
