
    .text {
        font-size: 11px;
        color: #858598;
        line-height: 30px;
    }

    .points {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #8ec63f;
        font-size: 14px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        margin: 0 6px;
    }