.container {
  width: 100vw;
  min-height: calc(100vh - 140px);
  padding: 30px 10px;
  margin: 0 auto;
}

.img {
  /* position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: auto; */
  /* object-fit: contain; */
  width: 160px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.title {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: var(--blue-grey);
  text-align: center;
  margin-bottom: 10px;
}

.list {
  /* padding: 30px 15px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact {
  /* position: relative;
  padding-left: 120px;
  margin-bottom: 30px; */

  display: flex;
  flex-direction: column;
  width: 280px;
  height: auto;
  align-items: center;
}
.contact:not(:last-child) {
  margin-bottom: 10px;
}

.contact_title {
  display: block;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 10px;
  color: black;
  transition: color 0.2s ease-out 0.1s;
}

.contact_title:hover {
  color: var(--macaroni-and-cheese);
}

.contact_job {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: var(--blue-grey);
  margin-bottom: 20px;
}

.contact_job::after {
  display: block;
  content: '';
  height: 3px;
  width: 50px;
  margin-top: 20px;
  background-color: var(--macaroni-and-cheese);
}

.contact_info {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: var(--blue-grey);
}

@media (min-width: 768px) {
  .container {
    width: 738px;
  }

  .title {
    font-size: 36px;
  }

  .text {
    font-size: 22px;
  }

  .list {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .text {
    margin-bottom: 50px;
  }

  .contact {
    width: 50%;
  }

  .contact:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1250px;
  }

  .list {
    width: 1000px;
  }

  .contact {
    position: unset;
    width: 25%;
    padding-left: 60px;
  }

  .contact_title {
    margin-top: 20px;
  }

  .contact:not(:last-child) {
    margin-bottom: unset;
  }

  .contact:nth-child(-n + 4) {
    margin-bottom: 20px;
  }
}
