.selectday {
    margin-left: 24px;
    display: flex;
    /* text-align: center; */
    background-color: blue;
    width: 60px;
    height: 28px;
    line-height: 1.5;
    object-fit: contain;
    color: aliceblue;
   
}

.checkboxImage {
    fill: aliceblue;
    margin: 0 10px 0 6px;
}