.week {
  position: absolute;
  top: -18px;
  right: -6px;
  display: flex;
  flex-direction: column;
  padding: 16px 28px 16px 28px;
  background-color: var(--azure);
  border-radius: 5px;
  width: 116px;
  height: 208px;
  box-sizing: border-box;
}
.stylesButton {
  position: absolute;
  bottom: 24px;
  right: 24px;
  border-radius: 15px;
  border: 1px solid var(--white-two);
  background-color: var(--white-two);
  color: var(--apple);
  font-size: 20px;
  font-weight: bold;
}
