.week {
  display: flex;
  flex-direction: column;
  padding: 16px 28px 16px 28px;
  background-color: var(--azure);
  border-radius: 5px;
  width: 116px;
  height: 208px;
  box-sizing: border-box;
}
