.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.text {
    font-size: 11px;
    color: var(--blue-grey);
    }


.btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, var(--macaroni-and-cheese-two), var(--off-yellow));
    color: var(--white);
    font-size: 42px;
    text-align: center;
    border: none;
    outline-style: none;
    margin-left: 10px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    transition: background-image 0.3s linear;
    transition: border 0.3s linear;
    transition: color 0.3s linear;
}


:root {
    --black: #000000;
    --macaroni-and-cheese: #efbb43;
    --black-15: rgba(29, 29, 27, 0.15);
    --white: #ffffff;
    --blue-grey: #858598;
    --apple: #8ec63f;
    --off-yellow: #f5d53b;
    --clay-brown-31: hsla(39, 49%, 47%, 0.31);
    --macaroni-and-cheese-two: #ecb146;
    --white-54: rgba(255, 255, 255, 0.54);
    --very-light-pink: #f1f1f1;
    --copper-27: rgba(165, 112, 36, 0.27);
    --azure: #27aae2;
    --watermelon: #ff4b64;
    --light-olive-green: #9ecb45;
    --off-white: #fdf8ed;
    --white-two: #fafafa;
  }

.btn:hover {
    background-image: linear-gradient(to bottom, var(--off-white), var(--white-two));
    border: 2px solid var(--off-yellow);
    color: var(--off-yellow);
    transition: background-image 0.3s linear;
    transition: border 0.3s linear;
    transition: color 0.3s linear;
}

@media(min-width: 768px) {
.conteiner {
    width: 400px;
    margin-bottom: 20px;
}

    .btn{
        position: static;
    }
}
  