.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.text {
  font-size: 11px;
  color: var(--blue-grey);
}

.btn {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, var(--macaroni-and-cheese-two), var(--off-yellow));
  color: var(--white);
  font-size: 42px;
  text-align: center;
  border: none;
  outline-style: none;
  margin-left: 10px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: background-image 0.3s linear;
  transition: border 0.3s linear;
  transition: color 0.3s linear;
}

.btn:hover {
  background-image: linear-gradient(to bottom, var(--off-white), var(--white-two));
  border: 2px solid var(--off-yellow);
  color: var(--off-yellow);
  transition: background-image 0.3s linear;
  transition: border 0.3s linear;
  transition: color 0.3s linear;
}

@media (min-width: 768px) {
  .conteiner {
    width: 400px;
    margin-bottom: 20px;
  }

  .btn {
    position: static;
  }
}
