.container {
  width: 320px;
  height: 64px;
  margin: 0 auto;
  padding-top: 36px;
  padding-left: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoIcon {
  width: 24px;
  height: 18px;
  fill: var(--macaroni-and-cheese);
}

.link {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1.28px;
  text-align: left;
  color: var(--black);
  text-decoration: none;
  /* margin-top: 18px;
 margin-left: 30px; */
}

.burger {
  width: 50px;
  height: 20px;
  display: block;
  /* margin-top: 36px; */
  fill: #18191d;
}
.logOutLink {
  text-decoration: none;
  display: flex;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: var(--blue-grey);
  /* margin-bottom: 10px; */
  align-self: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    height: 80px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
  }

  .border {
    box-shadow: 0px 15px 10px -15px rgba(29, 29, 27, 0.1);
  }

  .burger {
    display: none;
  }

  .link {
    display: flex;
    width: 90px;
    font-size: 16px;
    /* margin-top: 0; */
    height: 60px;
    align-items: center;
    /* margin-left: 0; */
  }

  .logoIcon {
    fill: var(--macaroni-and-cheese);
    display: flex;
    align-items: center;
    margin: 0;
  }
  .logOutBtn {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    justify-content: space-between;
  }

  .link {
    font-size: 18px;
    width: 100px;
    margin-left: 10px;
  }

  .logoIcon {
    width: 18px;
  }

  .burger {
    display: none;
  }
  .logOutBtn {
    font-size: 16px;
  }
}
