.nav {
  display: flex;
  justify-content: space-between;
  min-width: 270px;
}

.link {
  display: inline-block;
  min-width: 35px;
  background-color: #f6da98;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .nav {
    min-width: 370px;
    background-color: #efbb43;
  }

  .link {
    min-width: 40px;
    font-size: 11px;
  }
}

@media (min-width: 1280px) {
  .nav {
    flex-direction: column;
    align-items: flex-end;
    min-height: 320px;
  }

  .link {
    min-width: 210px;
    padding: 10px 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
  }
}

/*
active #fdf8ed
       #efbb43(mobile)
      
*/
