.navConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.nav {
  display: flex;
  justify-content: space-between;
  min-width: 270px;
  max-width: 500px;
}

.link {
  display: inline-block;
  width: 34px;
  height: 24px;
  background-color: #f6da98;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--black);
  transition: background-color 0.2s linear;
}

.activeLink {
  background-color: var(--macaroni-and-cheese);
}

.link:hover {
  background-color: var(--macaroni-and-cheese);
  transition: background-color 0.2s linear;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .navConteiner {
    width: 100%;
    height: 70px;
    background-color: var(--macaroni-and-cheese);
  }

  .nav {
    min-width: 370px;
  }

  .link {
    width: 40px;
    font-size: 11px;
  }

  .activeLink {
    background-color: var(--off-white);
  }

  .link:hover {
    background-color: var(--off-white);
    transition: background-color 0.2s linear;
  }
}

@media (min-width: 1280px) {
  .nav {
    flex-direction: column;
    align-items: flex-end;
    min-height: 320px;
  }

  .link {
    width: 210px;
    height: 40px;
    padding: 10px 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
  }

  .activeLink {
    background-color: var(--off-white);
  }

  .link:hover {
    background-color: var(--off-white);
    transition: background-color 0.2s linear;
  }
}
