   .prizeConteiner {
    width: 210px;
    background-color: #fdf8ed;
    border-radius: 5px;
    padding: 20px 30px;
  }
  
  .text {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }
  
  @media (min-width: 769px and max-width: 1279) {
    .prizeConteiner {
      display: flex;
      justify-content: space-between;
      min-width: 250px;
    }
  }
  
  @media (min-width: 1280px) {
    .title {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
      padding: 20px 0;
    }
  
    .prizeConteiner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  