.prizeConteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 208px;
  height: 94px;
  background-color: #f9e4b4;
  border-radius: 5px;
  margin-bottom: 29px;
  padding-left: 12px;
}

.prize_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 152px;
  height: 33px;
  margin-bottom: 11px;
}

.prize_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 24px;
}

.text {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.text::after {
  display: inline-block;
  content: '';
  width: 20px;
  height: 10px;
  background: url('../../assets/images/arrow-right.jpg') no-repeat;
  background-position: center;
  margin-left: 10px;
}

.icon {
  width: 14px;
  height: 14px;
  fill: var(--macaroni-and-cheese);
}

.image {
  width: 16px;
  height: 20px;
}

@media (min-width: 769px) and (max-width: 1279px) {
  .prizeConteiner {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 44px;
    background-color: var(--off-white);
    border-radius: 5px;
    margin-bottom: 34px;
  }

  .prize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    background-color: transparent;
    margin-bottom: 0;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .prizeConteiner {
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    background-color: transparent;
    margin-bottom: 0;
  }

  .prize {
    width: 130px;
  }
}

@media (min-width: 1280px) {
  .title {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding: 20px 0;
    margin-top: 30px;
    margin-bottom: 0;
  }

  .prizeConteiner {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
