.wrapper {
  font-family: 'Montserrat', sans-serif;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 33px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
