.conteiner {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  font-family: 'Montserrat', sans-serif;
}

.progressConteiner {
  width: 280px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
}

.text {
  width: 280px;
  font-size: 11px;
  color: #858598;
}

.selectedPoints {
  font-weight: 700;
  font-size: 12px
}

.allPoints {
  font-size: 12px
}

progress[value] {
  width: 125px;
  height: 6px;
  -webkit-appearance: none;
  appearance: none;
  margin-left: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 3px;
}

progress[value]::-webkit-progress-value {
  background-color: #8ec63f;
  border-radius: 3px;
}


@media(min-width: 768px) {
  .conteiner {
    height: auto;
    background-color: #fff;
    padding-top: 34px;
    padding-bottom: 80px;
  }

  .progressConteiner {
    justify-content: space-between;
    align-items: center;
    width: 330px;
    margin-right: auto;
  }

  .text {
    width: auto;
  }

  .selectedPoints,
  .allPoints {
    font-size: 14px;
  }
}

@media(min-width: 1280px) {
  .conteiner {
    width: 330px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .progressConteiner {
    width: 320px;
    align-content: center;
  }
}
