.conteiner {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  font-family: 'Montserrat', sans-serif;
}

.progressConteiner {
  width: 280px;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
}

.text {
  width: 280px;
  font-size: 11px;
  color: var(--blue-grey);
}

.selectedPoints {
  font-weight: 700;
  font-size: 12px;
}

.allPoints {
  font-size: 12px;
}

progress[value] {
  width: 125px;
  height: 6px;
  -webkit-appearance: none;
  appearance: none;
  margin-left: 10px;
}

progress[value]::-webkit-progress-bar {
  background-color: #c4c3c3;
  border-radius: 3px;
}

progress[value]::-webkit-progress-value {
  background-color: var(--apple);
  border-radius: 3px;
}

@media (min-width: 768px) {
  .conteiner {
    height: auto;
    background-color: var(--white);
  }

  .progressConteiner {
    justify-content: space-between;
    align-items: center;
    width: 330px;
    margin-right: auto;
  }

  .text {
    width: auto;
  }

  .selectedPoints,
  .allPoints {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .conteiner {
    flex: 0 0 49.9%;
    padding-right: 60px;
    margin-right: 0;
    margin-bottom: 30px;
    justify-content: flex-end;
    height: 30px;
  }

  .progressConteiner {
    width: 320px;
    margin: 0;
    align-content: center;
    justify-self: flex-end;
  }
}
