
.nav {
  display: none;
  padding: 0;
  margin: 0;
    margin: 49px 44px 181px 33px;
    
}

.navLink,
.navLinkBorders {
    width: 100px;
  height: 9,5px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.11;
  letter-spacing: 0.36px;
  text-align: left;
  color: var(--white);
  text-decoration: none;
  display: none;
}

.navLinkSpan {
  display: none;
}

@media screen and (min-width: 768px) {

  .nav {
    display: flex;
    margin: 0;
    width: 400px;
    height: 80px;
  
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
 
  }


  .navLink ,
  .navLinkBorders {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: right;
    color: var(--blue-grey);
    display: unset;

  }
  .navLinkBorders {
    position: relative;
  }

  .navLinkBorders::before {
    content:'';
  position: absolute;
  opacity: 0.2;
  background-color: var(--blue-grey);
  width: 1px;
  height: 90%;
  bottom: 0;
  left:-10px; 
  }

  .navLinkBorders::after {
    content:'';
  position: absolute;
  opacity: 0.2;
  background-color: var(--blue-grey);
  width: 1px;
  height: 90%;
  bottom: 0;
  right:-10px;
 

  }

  .navLinkSpan {
    display: unset;
  }
}

@media screen and (min-width: 1280px) {

  .nav {
    width: 500px;
    margin-left: 300px;
  }
  .navLink,
  .navLinkBorders {
    font-weight: 500;
    font-size: 17px;
    text-align: right;
  }

 .navLinkBorders::before {
  left:-20px; 
 }

 .navLinkBorders::after  {
  right:-20px;
 }
}
