.text {
  font-size: 15px;
  font-weight: 500;
  margin: 0 auto;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}

@media (min-width: 1279px) {
  .text {
    width: 800px;
    margin: 0;
    margin-bottom: 20px;
  }
}
