.container {
  width: 320px;
  background-color: var(--white);
  margin: 0 auto;
  height: auto;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  max-height: 90vh;
  scrollbar-color: dark;
  scrollbar-width: thin;
}

.list {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.listItem {
  display: flex;
  width: 280px;
  height: 260px;
  margin: 0 auto;
  margin: 10px;
  border: 2px solid brown;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
.list {
  width: 620px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: auto;
  max-height: 78vh;
  scrollbar-color: dark;
  scrollbar-width: thin;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .list {
    width: 920px;
    justify-content: unset;
    max-height: 80vh;
  }
}
