.container {
  background-color: var(--white);
  margin: 0 auto;
  height: auto;
  display: flex;
  margin-bottom: 34px;
  /* overflow: hidden;
  overflow-y: auto;
  max-height: 90vh;
  scrollbar-color: dark;
  scrollbar-width: thin; */
}

.list {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.listItem {
  position: relative;
  display: flex;
  padding: 10px 0;
  align-self: flex-start;
  /*height: 261px;
  margin: 0 auto; */
  /* margin-bottom: 22px; */
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
.list {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: auto;
  max-height: 78vh;
  scrollbar-color: dark;
  scrollbar-width: thin;
}

@media screen and (min-width: 1280px) {
  .list {
    justify-content: space-between;
    overflow: hidden;
    overflow-y: auto;
    max-height: 86vh;
    scrollbar-color: dark;
    scrollbar-width: thin;
    scroll-behavior: auto;
  }
}
