.container {
  background-color: var(--white);
  margin: 0 auto;
  height: auto;
  display: flex;
  margin-bottom: 34px;
  flex: 1 0;
}

.list {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.listItem {
  position: relative;
  display: flex;
  padding: 10px 10px;
}

@media screen and (min-width: 768px) {
  .container {
    /* width: 100%; */
  }

  .list {
    /* width: 100%; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    /* width: 100%; */
    height: calc(100% - 80px - 120px);
    flex: 1 0 100%;
    justify-self: stretch;
  }

  .list {
    /* min-width: 100%; */
  }
}
